.peliculaData{
    margin-inline: 30px;
    margin-top: 10px;
    display: flex;
}
hr {
    margin-left: 2%;
}
.imagen{
    padding-top: 30px;
    width: 35%; 
    
    height: fit-content;
}
.titulo{
    text-align: center;
    font-size: 3.5vw;
}
.informacion{
    padding-top: 30px;
}
.Disponible{
    padding-inline: 10%;
    width: 100%;
    display:flex;
    justify-content: space-evenly;
}
.DisponibleElement{
    padding: 10px;
    
    
}
.imgElement{
    width: 60px;
    height: 50px;
    border-radius: 50%;
}
.textoPelicula{
    padding-inline: 30px;
    font-size: 2vw;
}
@media screen and (max-width: 880px) {
    
}