.peliculaData{
    margin-inline: 30px;
    margin-top: 10px;
    display: flex;
}
hr {
    margin-left: 2%;
}
.imagen{
    width: 450px; 
}
.titulo{
    text-align: center;
}
.informacion{

}
.Disponible{
    width: 100%;
    display:flex;
    justify-content: space-evenly;
}
.DisponibleElement{
    padding: 10px;
    
    
}
.DisponibleElement p{
    text-align: center;
    
    
}
.imgElement{
    width: 100px;
    height: 50px;
    margin: 0 auto;

}
.textoPelicula{
    padding-inline: 30px;
    font-size: 20px;
}
@media screen and (max-width: 880px) {
    
}