.bodyLogin {
  background-image: url(../Images/cinema.jpg);
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  width: 100%;
  height: 100%;
  display: flex;
  position: absolute;
  flex-direction: column;
  text-shadow: 0px 0px 18px rgba(4, 1, 45, 0.66);
}
.Datos {
  width: 100%;
  padding-inline: 10px;
}
.Datos input {
  width: 100%;
  width: 100%;
  height: 30px;
  box-sizing: border-box;
  line-height: 30px;
  font-size: 14px;
  border: 0;
  background: none;
  border-bottom: 1px solid #ccc;
  outline: none;
  border-radius: 0;
  color: white;
}
.btns{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
}
.btn {
  display: inline-block;
  margin-right: 2px;
  padding: 10px 25px;
  border: 1px solid #1c248b;
  background-color: #1a228f;
  border-radius: 12px;
  font-size: 1.125em;
  outline: none;
  transition: all 100ms ease-out;
  margin: 10px;
  box-shadow: rgba(43, 43, 44, 0.445) 0px 7px 29px 0px;
}
.btn:hover {
  transform: translateY(-3px);
}
.Datos label {
  width: 100%;
}
.ChangeStateLogin {
  text-align: center;
}
.ChangeStateLogin a {
  color: red;
}

.loginCard {
  width: 780px;
  display: flex;
  align-items: center;
  margin: 150px auto;
  border-radius: 10px;
  background-color: rgba(137, 43, 226, 0);
  border-radius: 15px;
}
.rightCard {
    box-shadow: rgb(14, 14, 14) 0px 7px 29px 0px;
  color: white;
  border-radius: 15px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 26, 255, 0.438);
  width: 59%;
  height: 400px;
  margin: 5px;
  text-align: end;
}

.leftCard {
    box-shadow: rgba(3, 3, 3, 0.445) 0px 7px 29px 0px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-radius: 15px;
  background-color: rgba(253, 70, 49, 0.589);
  width: 40%;
  height: 400px;
  margin: 5px;
  padding: 10px;
  font-size: 1.1rem;
}
.leftCard h1 {
  text-align: center;
  text-decoration: underline;
}
.line {
  width: 5px;
  height: 310px;
  background-color: black;
}

@media screen and (max-width: 800px) {
  .loginCard {
    width: 70%;
    flex: none;
    flex-direction: column;
    margin: 150px auto;
  }
  .rightCard {
    width: auto;
    height: 300px;
    margin: 5px;
  }
  .leftCard {
    width: auto;
    height: 400px;
    margin: 5px;
  }
  .line {
    display: none;
    background-color: black;
  }
  .bodyLogin{
    height: auto;
    background-size: cover;
  }
}
