:root {
    --height: 180px;
    --imgHeight: 180px;
  }
.Padin {
    margin: 5px;
    width: 9%;
    text-align: center;
}
.Padin h5 {
    font-size: 10px;
}
.Padin h6 {
    font-size: 9px;
}
.Poster{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center top;
    position: relative;
}
.Quess {
    position: absolute;
    bottom: 2%;
    align-self: center;

}
.button {
    margin: -10%;
    height: 2.3em;
    width: 2.5em;
    font-size: 10px;
    margin: 1px, auto;
    padding-inline: 5px;
    border-color: transparent;
    background-color: rgba(240, 248, 255, 0);
    
}
.button:hover {
    /*Backgrouncolor agregar uno que convine */ 
}
@media screen and (max-width: 880px) {
    .Padin h5 {
        font-size: 10px;
    }
    .Padin h6 {
        font-size: 9px;
    }
    .Poster{
        height: 100%;
        object-fit: cover;
        object-position: center top;
        position: relative;
    }
    .Padin {
        margin: 5px;
        width: 17%;
        text-align: center;
    }
    .Quess {
        position: absolute;
        bottom: 0%;
        max-width: 17%;
    }
    .button {
        
        height: 2em;
        width: 1.5em;
        font-size: 16px;
    }
    
}