:root {

}
body {
  background-color: white;
  background-size: cover;
}
.opacity{
  opacity: .5;
}
.linea {
  width: 60%;
  height: 5px;
  background-color: rgb(105, 54, 5);
  margin-bottom: 10px;
}
.Titulo {
  font: oblique bold 320% cursive;
}
.Padin {
  margin: 1px;
  width: 9.4%;
  text-align: center;
  overflow: hidden;
  transition: all .7s;
}
.Padin:hover .card-title, .PadinActor .card-title{
    color: rgb(255, 255, 255);
    transition: all 1s;
    text-shadow: 0px 0px 18px rgba(0, 0, 0, 0.842);
    
} 
.Padin:hover .card-subtitle,  .PadinActor .card-subtitle {
  text-shadow: 0px 0px 18px rgba(2, 1, 14, 0.733);
  transition: all 1s;
    color: rgb(143, 143, 143);
}
.fa-heart{
  color: #ffdf0f;
}
/*.Padin .card-title, .Padin .card-subtitle:hover {
  color: rgb(255, 255, 255);
}

.Padin .card-subtitle:hover {
    color: rgb(158, 158, 158);
}*/
.card-title {
  font-size: 0.8vw;
  text-overflow: ellipsis;
  overflow: hidden;
  color: rgba(168, 168, 168, 0);
}
.card-subtitle {
  font-size: 0.7vw;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: pre;
  color: rgba(168, 168, 168, 0);
}
.TituloCard {
  position: absolute;
  bottom: 2%;
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.Poster {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center top;
  position: relative;
  /*filter: brightness(50%);*/
  transition: all .5s;
}
.Poster:hover {
  transition: all .5s;
  -webkit-transform: scale(1.07);
  transform: scale(1.07);
  
}

.imagen {
}
.Quess {
  position: absolute;
  top: 0%;
  align-self: flex-end;
  padding: 3px;
}
.button {
  margin: -10%;
  height: 2.3em;
  width: 2.5em;
  font-size: 10px;
  margin: 1px, auto;
  padding-inline: 5px;
  border-color: transparent;
  background-color: rgba(240, 248, 255, 0);
}
.button:hover {
  /*Backgrouncolor agregar uno que convine */
}
.Quess i{

}
.PadinActor{
  width: 30%;
  margin: 1px;
  text-align: center;
  overflow: hidden;
  transition: all .7s;
}


@media screen and (max-width: 880px) {
  .PadinActor{
    width: 18%;
    margin: 1px;
    text-align: center;
    overflow: hidden;
    transition: all .7s;
  }
  
  .Padin h5, .PadinActor h5 {
    margin: 0px;
    font-size: 1.5vw;
  }
  .Padin h6, .PadinActor h6 {
    font-size: 1.4  vw;
  }
  .Poster {
    height: 100%;
    object-fit: cover;
    object-position: center top;
    position: relative;
  }
  .Padin {
    margin: 3px;
    width: 18%;
    text-align: center;
  }
  .Quess {
    position: absolute;
    bottom: 0%;
    max-width: 17%;
  }
  .button {
    height: 2em;
    width: 1.5em;
    font-size: 16px;
  }
}

.Footer{
  width: 100%;

}